@import '../../styles/variables.scss';

.container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-gray-light;
  padding: 5rem 0 2rem;
}

.spinner {
  width: 3.75rem;
  height: 3.75rem;
  margin: 5rem auto;
  border: 0.25rem solid $color-gray-light;
  border-top: 0.25rem solid $color-blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
