@import '../../styles/variables.scss';

.listItem {
  background-color: $color-white;
  color: $color-blue;
  padding: 0.725rem 1.2rem;
  font-size: 1rem;
  border: 1px solid $color-blue;
  border-right: none;
  
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}