@import './styles/variables.scss';

#root {
  margin: 0 auto;
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.content {
  border-top: 1px solid $color-gray-light;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.searchPanel {
  width: 50%;
  display: flex;

  > input {
    border-bottom-right-radius: 0;
    border-top-right-radius:0;
  }
  
  > button {
    border-bottom-left-radius: 0;
    border-top-left-radius:0;
  }
}

.spinner {
  width: 3.75rem;
  height: 3.75rem;
  margin: 5rem auto;
  border: 0.25rem solid $color-gray-light;
  border-top: 0.25rem solid $color-blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}