:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #1A1A1B;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.active-btn {
  background-color: #3898ece6;
  color: white;
}

.active {

}

.wrapper-list-item {
  color: #1A1A1B;

  border-radius: 0.5rem;
  gap: 0.75rem;
  display: flex;
  flex: 1 0 300px;
}